<%- include("partials/header"); -%>

<h1>Posts</h1>

<div id="wrapper">
    <% blogData.forEach(post => { %>
        <h1><%= post.entryTitle %></h1>
        <% let numOfSentences = post.entry.split(". ", 4).join(". ").length %>
        <p><%= post.entry.slice(0,numOfSentences); %>...</p>
        <a href="/posts/<%= post.entryTitle %>">Learn More</a>
    <% }); %>
</div>
<%- include("partials/footer"); -%>