<%- include("partials/header"); -%>

<h1>Posts</h1>

<div id="wrapper">
    <% if(blogData.length > 0){ blogData.forEach(post => { %>
        <h1><%= post.postTitle %></h1>
        <% let numOfSentences = post.postContent.split(". ", 4).join(". ").length %>
        <p><%= post.postContent.slice(0,numOfSentences); %>...</p>
        <a href="/posts/<%= post._id %>">Learn More</a>
    <% }); }else{ %>
        <p>No post at the moment.</p>
    <% } %>
</div>
<%- include("partials/footer"); -%>